
  <img src="{{ section.settings.imagedefond | img_url: '1920x1080' }}">
    <ul class="navbar">
  {% for link in linklists[section.settings.listmenu].links %}
    <li class="navbar-li"><a href="{{ link.url }}">{{ link.title }}</a></li>
  {% endfor %}
</ul>
</div>


<style>

.imagefond {
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: {{ section.settings.navcolor }};
}

.navbar-li {
  float: left;
}

.navbar-li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: {{ section.settings.acolor }};
}

/* Change the link color to #111 (black) on hover */
.navbar-li a:hover {
  color: {{ section.settings.ahover }};
  background-color: {{ section.settings.navhover }};
}

</style>


{% schema %}
{
  "name": "Menu",
  "settings": [
    {
        "id": "navcolor",
        "type": "color",
        "label": "color",
        "default": "#333"
    },
    {
      "id": "navhover",
        "type": "color",
        "label": "hover",
        "default": "#111"
    },
    {
      "id": "ahover",
        "type": "color",
        "label": "text hover",
        "default": "#fff"
    },
    {
      "id": "acolor",
        "type": "color",
        "label": "text color",
        "default": "#fff"
    },
    {
      "id": "imagedefond",
      "type": "image_picker",
      "label": "image de fond"
    },
    {
      "id": "listmenu",
      "type": "link_list",
      "label": "menu-perso",
      "default": "main-menu"
    }
  ]
  ,
  "presets": [
    {
      "name": "Menu",
      "category": "Menu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}